:global {
  html,
  body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }

  .react-mount-point {
    height: 100%;
    padding: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-top: env(safe-area-inset-top, 0);
  }

  @media screen and (orientation: landscape) {
    body.lockOrientationEnabled {
      height: 100vw;
      transform-origin: 0 0;
      transition: all 300ms linear;
      width: 100vh;
    }
  }

  .lockOrientationRotate90deg,
  .lockOrientationRotate-90deg {
    transform-origin: 0 0;
  }

  .lockOrientationRotate90deg {
    transform: rotate(90deg) translateY(-100%);

    & > .react-mount-point {
      padding-bottom: env(safe-area-inset-left, 0);
      padding-left: env(safe-area-inset-top, 0);
      padding-right: env(safe-area-inset-bottom, 0);
      padding-top: env(safe-area-inset-right, 0);
    }
  }

  .lockOrientationRotate-90deg {
    transform: rotate(-90deg) translateX(-100%);

    & > .react-mount-point {
      padding-bottom: env(safe-area-inset-right, 0);
      padding-left: env(safe-area-inset-bottom, 0);
      padding-right: env(safe-area-inset-top, 0);
      padding-top: env(safe-area-inset-left, 0);
    }
  }
}
